.main {
  display: flex;
  justify-content: center;
}

.catalog {
  box-sizing: border-box;
  padding: 50px 40px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  column-gap: 48px;
  row-gap: 46px;

  @media (min-width: 488px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
